Package: de.j-gessner.sharewidgetforcontrolcenter
Name: Share Widget for Control Center
Depends: de.j-gessner.ccloader, firmware (>= 7.0)
Version: 1.0.2
Architecture: iphoneos-arm
Description: An awesome Control Center plugin!
Maintainer: Jonas Gessner
Author: Jonas Gessner
Section: Addons (ControlCenter)
